doctype html
html
	head
		title Flat Theme
		meta(charset="utf-8")
		link(rel="stylesheet", href="css/materialize.min.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="images/ico/favicon.ico")
		
	body
		nav
			.nav-wrapper#455a64.blue-grey.darken-2
				a(href="#").brand-logo
					img.responsive-img(src="images/logo.png", alt="logo")
				a(href="#" data-activates="mobile-demo").button-collapse
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li 
						a(href="index.html") Home
					li 
						a(href="about-us.html") About Us
					li 
						a(href="services.html") Services
					li 
						a(href="portfolio.html") Portfolio
					li 
						a(href="blog.html") Blog
					li 
						a(href="contact-us.html") Contact
				ul.side-nav#mobile-demo
					li 
						a(href="index.html") 
						Home
					li 
						a(href="about-us.html") About Us
					li 
						a(href="services.html") Services
					li 
						a(href="portfolio.html") Portfolio
					li 
						a(href="blog.html") Blog
					li 
						a(href="contact-us.html") Contact
		section
			.container-fluid#00e676.green.accent-3
				.row
					.col.s12.m6
						h4.white-text.light.text-title Blog
						p.white-text.light Pallentesque habitant morbi tristique senectus et netus et malesuada
					.col.s12.m6
						p.white-text.light.pull-right.text-title  Home / Blog
		section
			.container-fluid
				.row
					.col.s12.m7
						img(.img-responsive src="images/blog/blog1.jpg", alt="")
						i.icon-user-circle &nbsp;John&nbsp;&nbsp;
						i.icon-coffee &nbsp;&nbsp;Bootstrap&nbsp;&nbsp;
						i.icon-edit Sept 16th, 2012&nbsp;&nbsp;
						i.icon-cube &nbsp;Comments
						h5 Duis sed sit amet nibh vulputate cursus
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ipsum reprehenderit, quibusdam animi quasi incidunt accusamus! Repudiandae quas illum temporibus deserunt assumenda nihil soluta reprehenderit fugit, laborum velit quae praesentium.
						a.btn.disabled Read More
					.col.s12.m5
						.nav-wrapper
							form
								.input-field
									input#search 
									label
										i.material-icons search
						.col.s12.m6
							img(src="images/ads/ad1.png", alt="")
						.col.s12.m6
							img(src="images/ads/ad2.png", alt="")
						.col.s12.m6
							img(src="images/ads/ad3.png", alt="")
						.col.s12.m6
							img(src="images/ads/ad4.png", alt="")
						.col.s12.m6
							ul
								li >Development
								li >Design
								li >Uptades
								li >Tutorial
								li >News
						.col.s12.m6
							ul
								li >Joomla
								li >Wordpress
								li >Drupal
								li >Magento
								li >Bootstrap
		section
			.container-fluid
				.row
					.col.s12.m7
						img(.img-responsive src="images/blog/blog2.jpg", alt="")
						i.icon-user-circle &nbsp;John&nbsp;&nbsp;
						i.icon-coffee &nbsp;&nbsp;Bootstrap&nbsp;&nbsp;
						i.icon-edit Sept 16th, 2012&nbsp;&nbsp;
						i.icon-cube &nbsp;Comments
						h5 Duis sed sit amet nibh vulputate cursus
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ipsum reprehenderit, quibusdam animi quasi incidunt accusamus! Repudiandae quas illum temporibus deserunt assumenda nihil soluta reprehenderit fugit, laborum velit quae praesentium.
						a.btn.disabled Read More
					.col.s12.m5
						h5 Tag Cloud
						a.waves-effect.waves-light.btn CSS3
						a.waves-effect.waves-light.btn HTML5
						a.waves-effect.waves-light.btn WordPress
						a.waves-effect.waves-light.btn Joomia
						a.waves-effect.waves-light.btn Drupal
						a.waves-effect.waves-light.btn Bootstrap
						a.waves-effect.waves-light.btn Jquery
						a.waves-effect.waves-light.btn Tutorial
						a.waves-effect.waves-light.btn Uptade
						h5 Facebook Fanpage
		section#455a64.blue-grey.darken-2
				.container-fluid
					.row
						.col.s12.m3
							h5.white-text.light About Us
							p.white-text.light Pallentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam feugiat vitae, ultricies eget, tempro sit amet, ante.
						.col.s12.m3
							h5.white-text.light Company
							ul.light
								li.white-text.light Company Overview
								li.white-text.light Meet the Team
								li.white-text.light Our Awesome Partners
								li.white-text.light Our Services
								li.white-text.light Frequenly Aasked Question
								li.white-text.light Contact Us
								li.white-text.light Privacy Policy
								li.white-text.light Terms of Use
								li.white-text.light Copyright
						.col.s12.m3
							h5.white-text.light Lastest Blog
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text.light Pallentesque habitant morbi tristique senectus
								h6.white-text.light Posted 17 Aug 2013
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text.light Pallentesque habitant morbi tristique senectus
								h6.white-text.light Posted 17 Aug 2013
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text.light Pallentesque habitant morbi tristique senectus
								h6.white-text.light Posted 17 Aug 2013
						.col.s12.m3
							h5.white-text.light Adress
							p.white-text.light Twitter, Inc. 
							p.white-text.light 795 Folsom Ave, Suite 600
							p.white-text.light San Francisco, CA 94107
							h5.white-text.light Company
							input( id="search" type="search" required placeholrder="Search...")
							label(for="search")
		.footer-copyright#263238.blue-grey.darken-4
			.container
				p.white-text.light  © 2014 Copyright Text
				a.grey-text.text-lighten-4.right More Links