doctype html
html
	head
		title Flat Theme
		meta(charset="utf-8")
		link(rel="stylesheet", href="css/materialize.min.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="images/ico/favicon.ico")
		
	body
		nav
			.nav-wrapper#455a64.blue-grey.darken-2
				a(href="#" .brand-logo)
					img(.responsive-img src="images/logo.png", alt="logo")
				a(href="#" data-activates="mobile-demo" .button-collapse)
					i.material-icons menu
				ul.righthide-on-med-and-down
					li 
						a(href="index.html") Home
					li 
						a(href="about-us.html") About Us
					li 
						a(href="services.html") Services
					li 
						a(href="portfolio.html") Portfolio
					li 
						a(href="blog.html") Blog
					li 
						a(href="contact-us.html") Contact
				ul.side-nav#mobile-demo
					li 
						a(href="index.html") 
						Home
					li 
						a(href="about-us.html") About Us
					li 
						a(href="services.html") Services
					li 
						a(href="portfolio.html") Portfolio
					li 
						a(href="blog.html") Blog
					li 
						a(href="contact-us.html") Contact
			.slider
				ul.slides
					li
						img(src= "images/slider/bg1.jpg", alt="")
						.caption.center-align
						h3 Powerful and Responsive
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li
						img(src= "images/slider/bg2.jpg", alt="")
						.caption.left-align
						h3 Powerful and Responsive
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li
						img(src= "images/slider/bg3.jpg", alt="")
						.caption.right-align
						h3 Powerful and Responsive
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.		
			section
				.container-fluid#00e676.green.accent-3
					.row
						.col.s12.m4-l4
							i.icon-twitter
						.col.s12.m3
							span Twitter Marketing
							p Lorem ipsum dolor sit amet consectetur adipsicing elit.Quam harum dolorum necessitatibus fugiat cum

						.col.s12.m1
							i.icon-facebook
						.col.s12.m3
							h5.white-text Facebook
							p.light.white-text Lorem ipsum dolor sit amet consectetur adipsicing elit.Quam harum dolorum necessitatibus fugiat cum
						
						.col.s12.m1
							i.icon-goggle-plus
						.col.s12.m3
							h5.white-text Facebook
							p.light.white-text Lorem ipsum dolor sit amet consectetur adipsicing elit.Quam harum dolorum necessitatibus fugiat cum
			section
				.container
					.row
						.col.s12.m3
							h5.black-text Our Lastest Projects
							p.black-text.light Lorem ipsum dolor sit amet consectetur adipsicing elit.Quam harum dolorum necessitatibus fugiat cum
						.col.s12.m3
							img(.responsive-img src="images/portfolio/recent/item1.png", alt="")
						.col.s12.m3
							img(.responsive-img src="images/portfolio/recent/item2.png", alt="")
						.col.s12.m3
							img(.responsive-img src="images/portfolio/recent/item3.png", alt="")
			section#f44336.red
				.container-fluid
					.row
						.col.s12.m12
							h5.center.white-text What our clients say
							p.center.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col.s12.m6
							blockquote
								h5.white-text What our clients say
								p.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								h6.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							blockquote
								h5.white-text What our clients say
								p.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								h6.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.col.s12.m6
							blockquote
								h5.white-text What our clients say
								p.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								h6.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							blockquote
								h5.white-text What our clients say
								p.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								h6.white-text.light Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

			section#455a64.blue-grey.darken-2
				.container-fluid
					.row
						.col.s12.m3
							h5.white-text About Us
							p.white-text Pallentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam feugiat vitae, ultricies eget, tempro sit amet, ante.
						.col.s12.m3
							h5 Company
							ul.light
								li Company Overview
								li Meet the Team
								li.white-text Our Awesome Partners
								li.white-text Our Services
								li.white-text Frequenly Aasked Question
								li.white-text Contact Us
								li.white-text Privacy Policy
								li.white-text Terms of Use
								li.white-text Copyright
						.col.s12.m3
							h5.white-text Lastest Blog
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text Pallentesque habitant morbi tristique senectus
								h6.white-text Posted 17 Aug 2013
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text Pallentesque habitant morbi tristique senectus
								h6.white-text Posted 17 Aug 2013
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text Pallentesque habitant morbi tristique senectus
								h6.white-text Posted 17 Aug 2013

						.col.s12.m3
							h5.white-text#ffebee Adress
							p.white-text Twitter, Inc. 
							p.white-text.light 795 Folsom Ave, Suite 600
							p.white-text.light San Francisco, CA 94107
							h5.white-text Company
							input( id="search" type="search" required placeholrder="Search...")
							label(for="search")
			footer.white-text#263238.blue-grey.darken-4
				.container
					h6 2013 ShapeBootstrap. All Rights Reserved.

			section
				.row.back-green.responsive-img
					.col.s12.m4.l4
						.row.black-text
							.col.s2
								i.icon-twitter.iconos
							.col.s10
								span Twitter Marketing
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores inventore cupiditate eius, facere doloremque nobis tempora fugiat aut.
					.col.s12.m4.l4
						.row
							.col.s2
								i.icon-facebook.iconos
							.col.s10
								span Facebook Marketing
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores inventore cupiditate eius, facere doloremque nobis tempora fugiat aut.
					.col.s12.m4.l4
						.row
							.col.s2
								i.icon-google-plus.iconos
							.col.s10
								span Google Plus Marketing
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores inventore cupiditate eius, facere doloremque nobis tempora fugiat aut.


		script(src="js/jquery.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")




			


