doctype html
html
	head
		title Flat Theme
		meta(charset="utf-8")
		link(rel="stylesheet", href="css/materialize.min.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="images/ico/favicon.ico")
		
	body
		nav
			.nav-wrapper#455a64.blue-grey.darken-2
				a(href="#").brand-logo
					img.responsive-img(src="images/logo.png", alt="logo")
				a(href="#" data-activates="mobile-demo").button-collapse
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li 
						a(href="index.html") Home
					li 
						a(href="about-us.html") About Us
					li 
						a(href="services.html") Services
					li 
						a(href="portfolio.html") Portfolio
					li 
						a(href="blog.html") Blog
					li 
						a(href="contact-us.html") Contact
				ul.side-nav#mobile-demo
					li 
						a(href="index.html") 
						Home
					li 
						a(href="about-us.html") About Us
					li 
						a(href="services.html") Services
					li 
						a(href="portfolio.html") Portfolio
					li 
						a(href="blog.html") Blog
					li 
						a(href="contact-us.html") Contact
		section
			.container-fluid#00e676.green.accent-3
				.row
					.col.s12.m6
						h4.white-text.light.text-title Services
						p.white-text.light Pallentesque habitant morbi tristique senectus et netus et malesuada
					.col.s12.m6
						p.white-text.light.pull-right.text-title  Home / Services
		section
			.container-fluid
				.row
					h3.center What we do
					h6.center Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
		section
			.container-fluid
				.row
					.col.s12.m1
						i.icon-linux
					.col.s12.m3
						h4 Linux Development
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad, nobis nostrum, tenetur dicta ducimus dolore laborum sequi est asperiores ullam ipsam tempore voluptatum impedit, quibusdam quam doloremque ea at!
					.col.s12.m1
						i.icon-android
					.col.s12.m3
						h4 	Graphic Design
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad, nobis nostrum, tenetur dicta ducimus dolore laborum sequi est asperiores ullam ipsam tempore voluptatum impedit, quibusdam quam doloremque ea at!
					.col.s12.m1
						i.icon-apple
					.col.s12.m3
						h4 SEO Services
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad, nobis nostrum, tenetur dicta ducimus dolore laborum sequi est asperiores ullam ipsam tempore voluptatum impedit, quibusdam quam doloremque ea at!
				.row
					.col.s12.m1
						i.icon-windows
					.col.s12.m3
						h4 Windows Development
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad, nobis nostrum, tenetur dicta ducimus dolore laborum sequi est asperiores ullam ipsam tempore voluptatum impedit, quibusdam quam doloremque ea at!
					.col.s12.m1
						i.icon-gittip
					.col.s12.m3
						h4 	Android Development
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad, nobis nostrum, tenetur dicta ducimus dolore laborum sequi est asperiores ullam ipsam tempore voluptatum impedit, quibusdam quam doloremque ea at!
					.col.s12.m1
						i.icon-google-plus
					.col.s12.m3
						h4 Ios Development
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad, nobis nostrum, tenetur dicta ducimus dolore laborum sequi est asperiores ullam ipsam tempore voluptatum impedit, quibusdam quam doloremque ea at!									
		section
			.container-fluid
				.row
					.col.s12.m12
						h3.center What our clients say
						h6.center Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
		section
			.container-fluid
				.row
					.col.s12.m6
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, dolores nihil cum reiciendis iste, pariatur omnis ipsam beatae ut laborum velit quos blanditiis expedita nobis aperiam, iure amet doloremque corrupti.
						h6 - Someone famous in Source Title
					.col.s12.m6
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, dolores nihil cum reiciendis iste, pariatur omnis ipsam beatae ut laborum velit quos blanditiis expedita nobis aperiam, iure amet doloremque corrupti.
						h6 - Someone famous in Source Title
		section#455a64.blue-grey.darken-2
				.container-fluid
					.row
						.col.s12.m3
							h5.white-text.light About Us
							p.white-text.light Pallentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam feugiat vitae, ultricies eget, tempro sit amet, ante.
						.col.s12.m3
							h5.white-text.light Company
							ul.light
								li.white-text.light Company Overview
								li.white-text.light Meet the Team
								li.white-text.light Our Awesome Partners
								li.white-text.light Our Services
								li.white-text.light Frequenly Aasked Question
								li.white-text.light Contact Us
								li.white-text.light Privacy Policy
								li.white-text.light Terms of Use
								li.white-text.light Copyright
						.col.s12.m3
							h5.white-text.light Lastest Blog
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text.light Pallentesque habitant morbi tristique senectus
								h6.white-text.light Posted 17 Aug 2013
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text.light Pallentesque habitant morbi tristique senectus
								h6.white-text.light Posted 17 Aug 2013
							.col.s12.m4
								img(.materialboxed width="70" src="images/blog/avatar.jpg", alt="")
							.col.s12.m8
								p.white-text.light Pallentesque habitant morbi tristique senectus
								h6.white-text.light Posted 17 Aug 2013
						.col.s12.m3
							h5.white-text.light Adress
							p.white-text.light Twitter, Inc. 
							p.white-text.light 795 Folsom Ave, Suite 600
							p.white-text.light San Francisco, CA 94107
							h5.white-text.light Company
							input( id="search" type="search" required placeholrder="Search...")
							label(for="search")
		.footer-copyright#263238.blue-grey.darken-4
			.container
				p.white-text.light  © 2014 Copyright Text
				a.grey-text.text-lighten-4.right More Links